<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {{#foreach category.breadcrumb}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li class="active">{{text category.name words="15"}}</li>
    </ol>
    <div class="page-header text-center">
        <h1>{{category.name}}</h1>
    </div>

    <!--
    <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for...">
    </div>
</div>
<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
</div>
 -->
    <div >
        <form class="form" >
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">选择币种</button>
                        </span>
                        <select class="form-control" id="coinType">
                            <option>btc</option>
                            <option>eth</option>
                            <option>ltc</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">coinbase当前售价（美元）</button>
                        </span>
                        <input type="number" class="form-control" id="price">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">一次搬个数</button>
                    </span>
                    <input type="number" class="form-control" id="count">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">最终搬回价格</button>
                        </span>
                        <input type="number" class="form-control" id="final">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <button type="button" class="btn btn-success form-control" id="calculate">预估</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="application/javascript">
        $("#calculate").click(function () {
            var price = $("#price").val();
            var count = $("#count").val();
            if(price <= 0 || count <= 0 ){
                return
            }
            var finalDollar = price * count * 0.985 * 0.98;
            if(finalDollar > 5000){
                return
            } else {
                var finalRMB = finalDollar * 6.47 - 150;
                var finalPrice = finalRMB/count;
                $("#final").val(finalPrice);
            }
        });
    </script>
    <div class="content">
        {{{content}}}
    </div>
</div>